[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	email = woter_live@live.com
	name = WRG
[core]
	autocrlf = true
#[difftool "sourcetree"]
	#cmd = '' \"$LOCAL\" \"$REMOTE\"
#[mergetool "sourcetree"]
	#cmd = "'' "
	#trustExitCode = true
[difftool "winmerge"]
	#cmd = "C:\\Program Files (x86)\\WinMerge\\WinMergeU.exe"
	path = "C:\\Program Files (x86)\\WinMerge\\WinMergeU.exe"
	trustExitCode = true
[mergetool "winmerge"]
	path = "C:\\Program Files (x86)\\WinMerge\\WinMergeU.exe"
	# path = "C:\\Program Files (x86)\\Beyond Compare 4\\BCompare.exe"
	trustExitCode = true
[credential]
	helper = store
[alias]
	logtree = log --oneline --decorate --graph --all
	cm = commit
	s = status
	c = checkout
	b = branch
	lm = log --decorate --graph --all --color --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%C(yellow) %s %Cgreen(%cd) %C(bold blue)<%an>%Creset'
	report = archive -o ./lastCommit.zip HEAD
[diff]
	tool = winmerge
[merge]
	tool = winmerge

